.billetesImg {
    max-width: 150px;
    max-height: auto;
}
.section1 {
    align-items: flex-start;
}
.section2 {
    align-items: flex-end;
    width: 150px;
}
body {
    display: flex;
    flex-direction: row;
}
#resultado img {
    max-width: 150px;
}
